
.btn-login:hover{
    border: 2px dashed lightblue;   
}
.btn-logout:hover{
    border: 2px dashed rgb(235, 185, 185);
}
.btn-login{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.btn-logout{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
