<div class="container-fluid w-100 d-flex justify-content-center align-items-center">

    <div class="group bg-white p-5 m-5">

        <h6 class="display-6">
            <b>Privacy and Data Usage Policy</b> <br><br>

            Your privacy is important. This website does not track, collect, store or share any personal data. The only
            interaction with
            user data occurs when the website integrates with the YouTube Data API. Here's how it works: <br><br>

            <b>Data Source:</b> The website retrieves data from the YouTube Data API once the user logs in with their
            Google account. <br>
            <b>Actions on Data:</b> Users can view and manage their YouTube playlists directly. Actions such as
            selecting or removing <br>
            videos are performed in real-time through the YouTube Data API. <br>
            <b>No Data Storage:</b> The website does not save any user data on its servers. All data interactions are
            strictly limited to
            the user's current session and occur between the user's browser and the YouTube Data API. <br>
            <b>Transparency:</b> The website operates under the principle of minimal data usage, solely for the purpose
            of enhancing user control over their YouTube playlists. <br> <br>
            This website uses only essential session cookies necessary for Google OAuth authentication. No tracking or marketing
            cookies are used. <br>
            
            While we do not store your data, we implement appropriate security measures during data transmission, including: <br>
            - Secure HTTPS connections <br>
            - OAuth 2.0 protocol for authentication <br>
            - Session-only data handling <br>
            
            This application uses Google APIs and adheres to the Google Terms of Service (<a href="https://policies.google.com/terms">https://policies.google.com/terms</a>) <br>
            
            By ensuring that no data is tracked or stored, the website aligns with best practices for user privacy and protection. <br>
            
            <p class="smallText mb-0 mt-5"><b>Latest update:</b> December 25, 2024</p>
            <p class="smallText">Questions or concerns? Reading this Privacy Notice will help you understand your privacy rights and choices. We are
            responsible for making decisions about how your personal information is processed. If you do not agree with our policies
            and practices, please do not use our Services. If you still have any questions or concerns, please contact us at: 
            </p>
            <a class="smallText" href="mailto:muzammil.notify@gmail.com">muzammil.notify&#64;gmail.com</a>
        </h6>
    </div>
</div>