.container-fluid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    justify-content: space-around;
    height: 550px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
}

.group-title {
    text-align: center;
    list-style-type: square;
    margin-bottom: 15px;
    font-size: 1.4em;
    color: #333;
}

.image-container {
    display: flex;
    align-items: center;
}

.attached-image {
    width: 200px;
        max-height: 15em;
}

.main-image {
        width: 15em;
   
    border-radius: 15px;
}

@media (max-width: 1024px) {
    .container-fluid {
        gap: 20px;
    }
    
    .group {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .group {
        width: 100%;
        max-width: 300px;
    }
}