<div class="Container-fluid">
    <div class="Container p-1">
        <div class="text-above">
            <span class="display-6">Are you storing a lot of videos in your playlist?</span>
        </div>
        <div class="firstbox">
            <img src="assets/arrow1.svg" class="arrow1" alt="">
            <video class="video" loop autoplay #videoPlayer src="../../../assets/Captain Jack.mp4"></video>
        </div>
    </div>

    <div class="Container p-1">
        <div class="text-above">
            <span class="display-6">And need to manually delete one by one</span>
        </div>
        <div class="firstbox">
            <img src="assets/arrow2.svg" class="arrow2 grid-item" alt="">
            <video class="video" loop autoplay #videoPlayer src="../../../assets/playlistitem_delete.mp4"></video>
        </div>
    </div>

    <div class="Container p-1">
        <div class="text-above">
            <span class="display-6">hrhr</span>
        </div>
        <div class="firstbox">
            <img src="assets/arrow3.svg" class="arrow3 grid-item" alt="">
            <img class="finalbox" src="assets/final_checkbox.png" alt="">
        </div>
    </div>


</div>