<div class="container-fluid">
    <!-- Group 1 -->
    <div class="group">
        <div class="group-title display-6">Are you storing a lot of videos in your youtube playlist?</div>
        <div class="image-container">
            <img class="main-image" src="assets/img1.png">
        </div>
    </div>

    <!-- Group 2 -->
    <div class="group">
        <div class="group-title display-6">And need to manually delete one by one</div>
        <div class="image-container">
            <img src="assets/img2.jpg" class="main-image">
        </div>
    </div>

    <!-- Group 3 -->
    <div class="group">
        <div class="group-title display-6">Managing playlists just got simpler! <br> Select, click, and you're done!</div>
        <div class="image-container">
            <img src="assets/scs.png" class="main-image" alt="">
        </div>
    </div>
    <div *ngIf="!(auth.isAuthenticated$ | async)" class="w-100 d-flex">
        <button class="btn btn-login mx-auto getStartedBtn" (click)="auth.login()">
            Get Started
        </button>
    </div>
    <footer style="padding: 20px; text-align: center; font-size: 14px; width: 100%;">
        <p>
            <a routerLink="/PrivacyPolicy" style="text-decoration: none; color: #007bff;">Privacy Policy</a> |
        </p>
        <p>&copy; 2024 Playlist Curator. All rights reserved.</p>
    </footer>

</div>