<div class="container-fluid">
    <!-- Group 1 -->
    <div class="group">
        <div class="group-title display-6">Are you storing a lot of videos in your playlist?</div>
        <div class="image-container">
            <img class="main-image" src="assets/img1.png">
        </div>
    </div>

    <!-- Group 2 -->
    <div class="group">
        <div class="group-title display-6">And need to manually delete one by one</div>
        <div class="image-container">
            <img src="assets/img2.jpg" class="main-image">
        </div>
    </div>

    <!-- Group 3 -->
    <div class="group">
        <div class="group-title display-6">Managing playlists just got simpler! <br> Select, click, and you're done!</div>
        <div class="image-container">
            <img src="assets/final_checkbox.png" class="main-image" alt="">
        </div>
    </div>
</div>
<ng-container *ngIf="!(auth.isAuthenticated$ | async)">
<button class="btn btn-login" (click)="auth.login()">
    <i class="icon-login"></i>
    Get Started
</button>
</ng-container>

